$color: #f4ecf4;

$website-width: 1280px;
$main-color: #a25151;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;

@function set-text-color($color) {
    @if (lightness($color) > 50) {
      @return #000;
    } @else {
      @return #fff;
    }
  }  