.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
  }
  
  // Buttons
  %btn-shared {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
  }
  
  .btn {
    &-main {
      @extend %btn-shared;
      color: #333;
      background-color: $main-color;
    }
  
    &-light {
      @extend %btn-shared;
      color: #333;
      background-color: $light-color;
    }
  
    &-dark {
      @extend %btn-shared;
      color: #f4f4f4;
      background-color: $dark-color;
    }
  }
  
  button[class^='btn-']:hover,
  a[class^='btn-']:hover,
  input[class^='btn-']:hover {
    background-color: $main-color;
  }

  // Backgrounds
  .bg {
    &-main {
      background: $main-color;
      color: set-text-color($main-color);
    }
    &-dark {
      background: $dark-color;
      color: set-text-color($dark-color);
    }
    &-light {
      background: $light-color;
      color: set-text-color($light-color);
    }
    &-medium {
      background: $medium-color;
      color: set-text-color($medium-color);
    }
  } 

  .lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  
  .text-center {
    text-align: center;
    font-family: "Josefin Sans', sans-serif";
  }

  // Padding
.py {
    padding: 20px;
    margin: 10px;
}


  .flex-container {
    display: flex;
  }

  .flex-container-work{

    margin: 20px;
    padding-top: 20px;

    li{
      margin: 20px;
      padding: 30px;
      font-size: 22px;
      font-family: 'Josefin Sans', sans-serif;
    }
  }

  img {
    border-radius: 280px;
    padding: 15px;
    margin: 20px;
    border-style: solid;
    border-color: $main-color;
  }

  .project {
    color: white;
    font-family: "Josefin Sans', sans-serif";


  }

  .social{
    font-size: 35px;
    margin: 35px;
    padding: 35px;
    a:hover{
      font-size: 70px;
    }
  }

  .text {
    text-align: justify;
  }









